html {
	font-family: "arial";
}

ul {
	margin-left:30%		
}

li {
	display: inline;
	padding-left:10px;
	padding-right:10px;
}

.grey-overlay {
	background: #000000;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.6;
}

#loading-img {
	position:fixed;
	top:45%;
	left:45%;
}

#loading-img img {
	height: 100px;
}

#error {
	display:none;
	color:red;
}

#history {
	table-layout: fixed;
	width: 100%
}

#history tr td {
	word-wrap: break-word;
}

.result-table {
	table-layout: fixed;
}

.result-table tr td {
	word-wrap: break-word;
}

.crawl-form {
	float: left;
    width: 60%;
    margin-left: 40%;
}

.result-table {
	font-size:14px;
	float:left; 
	width: 25%;
}